score-height = 35px

body
    padding 0
    margin 0
    text-align center

.container 
    position relative
    display inline-block
    margin 150px auto
    text-align left
    background-color #2a033c
.bg 
    display inline-block
    width 500px
    height 500px
    background-color #480348
canvas 
    position absolute
    top 0
    left 0
.toolbar
    display inline-block
    width 200px
    padding-top 50px
    vertical-align top
.score-wrapper
    position relative
    width 120px
    height score-height
    margin auto
    color #fff
    line-height 35px
    background url(../img/icon.png) -210px -70px
    &:before
        position absolute
        top -5px
        left -10px
        width 34px
        height 33px
        content ''
        background url(../img/icon.png) -351px -1px
#score
    display block
    width 100px
    height score-height
    margin auto
    text-align center
.modal
    position absolute
    top 0
    bottom 0
    left 0
    right 0
    background-color rgba(0, 0, 0, .3)
    #start
        position absolute
        top 50%
        left 50%
        width 130px
        height 50px
        background url(../img/icon.png) -208px 0
        transform translate(-50%, -50%)
    #rank
        position relative
        width 197px
        height 226px
        padding-top 80px
        margin 120px auto
        color #fff
        text-align left
        font-size 20px
        font-weight bold
        -webkit-text-stroke-color #000
        -webkit-text-stroke-width 1px
        background url(../img/icon.png) 0 0
        box-sizing border-box
    .dump
        animation dump .5s forwards
    .label
        display inline-block
        width 50px
        margin-left 25px
        margin-right 10px
        text-align right
#restart,
#next,
#more
    position absolute
    left 87px
    bottom 0px
    width 25px
    height 30px
    border-radius 50%
#next 
    left 128px
#more
    left 45px
.hidden
    display none

@keyframes dump {
    from {
        transform translateY(-500px)
    }
    50% {
        transform translateY(0)
    }
    70% {
        transform translateY(-50px)
    }
    85% {
        transform translateY(0)
    }
    95% {
        transform translateY(-10px)
    }
    tp {
        transform translateY(0)
    }
}
